name: outline_material_icons
description: Provides the new outline theme of material design icons from Google.
version: 0.2.0
author: Lucas Levin <mail@lucasappco.com>
homepage: https://github.com/lucaslcode/outline_material_icons

environment:
  sdk: '>=2.12.0 <3.0.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  fonts:
    - family: outline_material_icons
      fonts:
        - asset: lib/outline_material_icons.ttf
